
<div class="row">
    <div class="col-md-12">
        <h2 class="section-title">Search trip for your favourite city</h2>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="pull-right">
            <img src="../../../../img/search-trip-icon.png" alt="placeholder image" width="140" height="140">
            <h3 class="info-trip-caption-title">Search For Trip Plan</h3>
            <p class="info-trip-caption-description">Find out activities, sceneries <br> for your favourite city</p>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div>
            <img src="../../../../img/save-trip-icon.png" alt="Generic placeholder image" width="140" height="140">
            <h3 class="info-trip-caption-title">Save Your Plan</h3>
            <p class="info-trip-caption-description">Save it on for later use when <br> you have arrived</p>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="pull-left">
            <img src="../../../../img/ipad-icon.png" alt="Generic placeholder image" width="140" height="140">
            <h3 class="info-trip-caption-title">Use It For On Your Trip</h3>
            <p class="info-trip-caption-description">Use saved iterarnies while <br> on your trip</p>
        </div>
    </div>

</div>