<div class="row">
    <div class="col-md-12">
        <h2 class="trip-title">Sydney Australia</h2>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="pull-right">
            <img src="../../../../img/sydney.png" alt="sydney" title="sydney" height="400" width="300">
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <img src="../../../../img/city1.png" alt="city1" title="city1" height="200" width="200">
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <img src="../../../../img/city2.png" alt="city2" title="city2" height="200" width="200">
                </div>    
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <img src="../../../../img/city3.png" alt="city3" title="city3" height="200" width="200">
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <img src="../../../../img/city4.png" alt="city4" title="city4" height="200" width="200">
                </div>    
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="pull-left">
            <img src="../../../../img/food.png" alt="food" title="food" height="400" width="230">
        </div>
    </div>
</div>