
.sydney {
    background: url("../../../../img/sydney.png") no-repeat center center;
}

.city1 {
    background: url("../../../../img/city1.png") no-repeat center center;
}

.city2 {
    background: url("../../../../img/city2.png") no-repeat center center;
}

.city3 {
    background: url("../../../../img/city3.png") no-repeat center center;
}

.city4 {
    background: url("../../../../img/city4.png") no-repeat center center;
}

.food {
    background: url("../../../../img/food.png") no-repeat center center;
}