<div class="row">
    <div class="col-md-12">
        <h2 class="section-title">Recommended Destination</h2>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="pull-right">
            <img src="../../../../img/kyoto.png" alt="placeholder image" width="240" height="240">
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div>
            <img src="../../../../img/sydney.png" alt="Generic placeholder image" width="240" height="240">
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="pull-left">
            <img src="../../../../img/newyork.png" alt="Generic placeholder image" width="240" height="240">
        </div>
    </div>
</div>