
<div class="jumbotron back-image text-center">
    <h1 class="main-title">Plan your new journey</h1>
    <p class="lead">Create awesome itineraries
        <strong>instantely!</strong>
    </p>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-4 text-search-title vertical-divider">
                Destination 
                <br/><br/><label class="text-search-input">Sydney</label>
            </div>
            <div class="col-md-4 text-search-title vertical-divider">
                Start Date
                <br/><br/><label class="text-search-input">28 Jun 2017</label>
            </div>
            <div class="col-md-4 text-search-title">
                End Date
                <br/><br/><label class="text-search-input">31 Jun 2017</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br/><br/>
                <button type="button" class="btn btn-search btn-block">START YOUR TRIP</button>
            </div>
        </div>
    </div>
</div>